body {
  margin: 0;
}

.header {
  width: 100%;
  background: gray;
  overflow: hidden;
}

.container {
  width: 70%;
  overflow: hidden;
  margin: auto;
}

.header .logo {
  font-size: 32px;
  float: left;
}

.header .navigation {
  float: right;
}
