@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

body {
  margin: 0;
}

.header {
  width: 100%;
  background: gray;
  overflow: hidden;
}

.container {
  width: 70%;
  overflow: hidden;
  margin: auto;
}

.header .logo {
  font-size: 32px;
  float: left;
  font-family: Roboto;
}

.header .logo a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header .navigation {
  float: right;
  margin-top: 40px;
}

.header .navigation li {
  float: right;
  margin-left: 20px;
  display: block;
  font-size: 18px;
  font-family: Roboto;
}

.header .navigation li a {
  text-decoration: none;
  color: white;
}

.header .navigation li a.home {
  text-decoration: none;
  font-weight: bold;
}

.header .navigation li a.about {
  text-decoration: none;
  font-weight: bold;
}

.header .navigation li a.pricing {
  text-decoration: none;
  font-weight: bold;
}

.header .navigation li a.login {
  text-decoration: none;
  font-weight: bold;
}

.header .navigation li a:hover {
  text-decoration: none;
  color: rgb(205, 195, 195);
}
